@font-face {
	font-family: Roboto-Medium ;
	src: url(../roboto/Roboto-Medium.ttf);
}

@font-face {
	font-family: Roboto-Regular ;
	src: url(../roboto/Roboto-Regular.ttf);
  }
p{
	margin: 10px;
}

button{
	margin-left: 10px;
	margin-right: 10px;
	padding: 20px;
	font-family: Roboto-Regular ;
	font-size: medium;
	background-color: #eea916;
	border-radius: 10px;
	border: none;
}

body{
font-family: Roboto-Medium ;
margin-left: 50px;
margin-top: 50px;
}

.menu-div{
	width: fit-content;
	height: 20%;
	border: 2px;
	border-color: aqua;
	background-color: blueviolet;
	font-family: Roboto-Regular ;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 50px;

}

.photo{
	width: 450px;
	height: auto;
	border-radius: 20px;
}

.div-photo{
	display: flex;
	flex-direction: row;
}