@font-face {
	font-family: Roboto-Medium ;
	src: url(../roboto/Roboto-Medium.ttf);
}

@font-face {
	font-family: Roboto-Regular ;
	src: url(../roboto/Roboto-Regular.ttf);
  }

  @font-face {
	font-family: Roboto-Bold ;
	src: url(../roboto/Roboto-Bold.ttf);
  }

p{
	margin-top: 30px;
	font-size: 15px;
	font-family: Roboto-Regular ;
}

h4{
	font-size:x-large;
	font-family: Roboto-Medium ;
	letter-spacing: 1px;
}

body{
	color: rgba(0, 0, 0, 0.727);
}
a{
	color: #eea916;
	margin-top: 15px;
}

button{
	margin-left: 10px;
	margin-right: 10px;
	padding: 15px;
	font-size: 15px;
	font-family: Roboto-Regular ;
	background-color: #eea916;
	border-radius: 10px;
	border: none;
}

body{
font-family: Roboto-Medium ;
margin-left: 60px;
margin-top: 50px;
}
header{
	font-size:x-large;
}

.menu-div{
	width: fit-content;
	height: 20%;
	border: 2px;
	background-color: white;
	font-family: Roboto-Regular ;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 60px;
	margin-bottom: 50px;

}

.photo{
	width: 450px;
	height: auto;
	border-radius: 20px;
	margin-right: 30px;
}

.div-photo{
	display: flex;
	flex-direction: row;
}

.div-cards{
	display: flex;
	flex-direction: row;
	width: fit-content;
	height: fit-content;
	align-items: justify;
	text-align: center;
	margin-bottom: 15px;

}

.cards{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	margin-top: 60px;
	padding: 35px;
	margin-bottom: 60px;
	height: fit-content;
	width: 135px;
	border-radius: 20px;
	box-shadow: #c2c0bd2c 1px 1px 4px 1px;
}

.custom-card1{
	/* margin-left:30px; */
	margin-right: 20px;
}

.custom-card2{
	margin-left:20px;
	/* margin-right: 30px; */
}

.photo-card{
	margin-top: 7px;
	margin-bottom: 50px;
	width: 120px;
	height: 120px;
}

